In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [5]:
df_path = os.path.join('data', 'merged.csv')
df = pd.read_csv(df_path)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4725 entries, 0 to 4724
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fw                4725 non-null   int64
 1   mver              4670 non-null   object
 2   lts               4725 non-null   int64
 3   dst_name          4725 non-null   object
 4   af                4725 non-null   int64
 5   dst_addr          4725 non-null   object
 6   src_addr          4725 non-null   object
 7   proto             4725 non-null   object
 8   ttl               4702 non-null   float64
 9   size              4725 non-null   int64
 10  result            4725 non-null   object
 11  dup               4725 non-null   int64
 12  rcvd              4725 non-null   int64
 13  sent              4725 non-null   int64
 14  min               4725 non-null   float64
 15  max               4725 non-null   float64
 16  avg               4725 non-null   float64
 17  msm_id            4725 non-null   int64
 18  prb_id            4725 non-null   int64
 19  timestamp         4725 non-null   object
 20  msm_name          4725 non-null   object
 21  from              4725 non-null   object
 22  type              4725 non-null   object
 23  group_id          4725 non-null   int64
 24  step              0 non-null      float64
 25  stored_timestamp  4725 non-null   int64
dtypes: float64(5), int64(11), object(10)
memory usage: 959.9+ KB

In [19]:
df['ttl']

0       52.0
1       55.0
2       49.0
3       56.0
4       52.0
        ...
4720    52.0
4721    53.0
4722    45.0
4723    52.0
4724    51.0
Name: ttl, Length: 4725, dtype: float64